<a href="https://colab.research.google.com/github/ishikagupta20012001/Face-Recognition-System/blob/master/Placement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
df=pd.read_csv("/content/Placement_Data_Full_Class.csv")

In [ ]:
df.head()

   sl_no gender  ssc_p    ssc_b  ...  specialisation  mba_p      status    salary
0      1      M  67.00   Others  ...          Mkt&HR  58.80      Placed  270000.0
1      2      M  79.33  Central  ...         Mkt&Fin  66.28      Placed  200000.0
2      3      M  65.00  Central  ...         Mkt&Fin  57.80      Placed  250000.0
3      4      M  56.00  Central  ...          Mkt&HR  59.43  Not Placed       NaN
4      5      M  85.80  Central  ...         Mkt&Fin  55.50      Placed  425000.0

[5 rows x 15 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sl_no           215 non-null    int64
 1   gender          215 non-null    object
 2   ssc_p           215 non-null    float64
 3   ssc_b           215 non-null    object
 4   hsc_p           215 non-null    float64
 5   hsc_b           215 non-null    object
 6   hsc_s           215 non-null    object
 7   degree_p        215 non-null    float64
 8   degree_t        215 non-null    object
 9   workex          215 non-null    object
 10  etest_p         215 non-null    float64
 11  specialisation  215 non-null    object
 12  mba_p           215 non-null    float64
 13  status          215 non-null    object
 14  salary          148 non-null    float64
dtypes: float64(6), int64(1), object(8)
memory usage: 25.3+ KB

In [ ]:
df.isnull().sum()

sl_no              0
gender             0
ssc_p              0
ssc_b              0
hsc_p              0
hsc_b              0
hsc_s              0
degree_p           0
degree_t           0
workex             0
etest_p            0
specialisation     0
mba_p              0
status             0
salary            67
dtype: int64

In [ ]:
df.shape

(215, 15)

In [ ]:
from sklearn.impute import SimpleImputer

In [ ]:
si=SimpleImputer(missing_values=np.nan)

In [ ]:
df2=si.fit_transform(df[['salary']])

In [ ]:
df.drop(['salary'],axis=1)

     sl_no gender  ssc_p    ssc_b  ...  etest_p specialisation  mba_p      status
0        1      M  67.00   Others  ...     55.0         Mkt&HR  58.80      Placed
1        2      M  79.33  Central  ...     86.5        Mkt&Fin  66.28      Placed
2        3      M  65.00  Central  ...     75.0        Mkt&Fin  57.80      Placed
3        4      M  56.00  Central  ...     66.0         Mkt&HR  59.43  Not Placed
4        5      M  85.80  Central  ...     96.8        Mkt&Fin  55.50      Placed
..     ...    ...    ...      ...  ...      ...            ...    ...         ...
210    211      M  80.60   Others  ...     91.0        Mkt&Fin  74.49      Placed
211    212      M  58.00   Others  ...     74.0        Mkt&Fin  53.62      Placed
212    213      M  67.00   Others  ...     59.0        Mkt&Fin  69.72      Placed
213    214      F  74.00   Others  ...     70.0         Mkt&HR  60.23      Placed
214    215      M  62.00  Central  ...     89.0         Mkt&HR  60.22  Not Placed

[215 rows x 14 columns]

In [ ]:
df['salary']=df2

In [ ]:
df['hsc_s'].unique()

array(['Commerce', 'Science', 'Arts'], dtype=object)

In [ ]:
df.columns

Index(['sl_no', 'gender', 'ssc_p', 'ssc_b', 'hsc_p', 'hsc_b', 'hsc_s',
       'degree_p', 'degree_t', 'workex', 'etest_p', 'specialisation', 'mba_p',
       'status', 'salary'],
      dtype='object')

In [ ]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
li=['gender', 'ssc_b', 'hsc_b', 'hsc_s',
       'degree_t', 'workex', 'specialisation',
      'status']

In [ ]:
for i in li:
  df1=le.fit_transform(df[i])
  df.drop([i],axis=1)
  df[i]=df1

In [ ]:
df.head()

   sl_no  gender  ssc_p  ssc_b  ...  specialisation  mba_p  status         salary
0      1       1  67.00      1  ...               1  58.80       1  270000.000000
1      2       1  79.33      0  ...               0  66.28       1  200000.000000
2      3       1  65.00      0  ...               0  57.80       1  250000.000000
3      4       1  56.00      0  ...               1  59.43       0  288655.405405
4      5       1  85.80      0  ...               0  55.50       1  425000.000000

[5 rows x 15 columns]

In [ ]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()

In [ ]:
li='ssc_p','hsc_p','degree_p','etest_p','mba_p','salary'
for i in li:
  df3=sc.fit_transform(df[[i]])
  df.drop([i],axis=1)
  df[i]=df3

In [ ]:
df.head()

   sl_no  gender     ssc_p  ...     mba_p  status        salary
0      1       1 -0.028087  ... -0.597647       1 -2.414078e-01
1      2       1  1.113369  ...  0.687620       1 -1.147234e+00
2      3       1 -0.213238  ... -0.769474       1 -5.002152e-01
3      4       1 -1.046417  ... -0.489396       0 -7.532285e-16
4      5       1  1.712332  ... -1.164676       1  1.764349e+00

[5 rows x 15 columns]

In [ ]:
from statsmodels.regression.linear_model import OLS

In [ ]:
y=df['status']
df=df.drop(['status','sl_no'],axis=1)

In [ ]:
df.head()

   gender     ssc_p  ssc_b  ...  specialisation     mba_p        salary
0       1 -0.028087      1  ...               1 -0.597647 -2.414078e-01
1       1  1.113369      0  ...               0  0.687620 -1.147234e+00
2       1 -0.213238      0  ...               0 -0.769474 -5.002152e-01
3       1 -1.046417      0  ...               1 -0.489396 -7.532285e-16
4       1  1.712332      0  ...               0 -1.164676  1.764349e+00

[5 rows x 13 columns]

In [ ]:
df.shape

(215, 13)

In [ ]:
df.drop('gender',axis=1,inplace=True)
df.head()

      ssc_p  ssc_b     hsc_p  ...  specialisation     mba_p        salary
0 -0.028087      1  2.268812  ...               1 -0.597647 -2.414078e-01
1  1.113369      0  1.103448  ...               0  0.687620 -1.147234e+00
2 -0.213238      0  0.153313  ...               0 -0.769474 -5.002152e-01
3 -1.046417      0 -1.318339  ...               1 -0.489396 -7.532285e-16
4  1.712332      0  0.668391  ...               0 -1.164676  1.764349e+00

[5 rows x 12 columns]

In [ ]:
X=df.values
ones=np.ones((215,1))

In [ ]:
X=np.hstack([ones,X])

In [ ]:
X.shape

(215, 13)

In [ ]:
model=OLS(endog=y,exog=X).fit()

In [ ]:
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 status   R-squared:                       0.550
Model:                            OLS   Adj. R-squared:                  0.523
Method:                 Least Squares   F-statistic:                     20.58
Date:                Sun, 31 Oct 2021   Prob (F-statistic):           4.95e-29
Time:                        07:33:37   Log-Likelihood:                -53.737
No. Observations:                 215   AIC:                             133.5
Df Residuals:                     202   BIC:                             177.3
Df Model:                          12
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.6500      0.074      8.841      0.000       0.505       0.795
x1             0.2139      0.031      6.900      0.000       0.153       0.275
x2             0.0669      0.059      1.130      0.260      -0.050       0.184
x3             0.1095      0.030      3.696      0.000       0.051       0.168
x4            -0.0417      0.059     -0.711      0.478      -0.157       0.074
x5             0.0234      0.052      0.448      0.655      -0.080       0.126
x6             0.1069      0.028      3.843      0.000       0.052       0.162
x7            -0.0612      0.032     -1.925      0.056      -0.124       0.001
x8             0.1849      0.049      3.810      0.000       0.089       0.281
x9            -0.0299      0.024     -1.258      0.210      -0.077       0.017
x10           -0.0589      0.049     -1.212      0.227      -0.155       0.037
x11           -0.1370      0.026     -5.365      0.000      -0.187      -0.087
x12            0.0079      0.023      0.345      0.731      -0.037       0.053
==============================================================================
Omnibus:                        2.779   Durbin-Watson:                   1.999
Prob(Omnibus):                  0.249   Jarque-Bera (JB):                2.422
Skew:                          -0.161   Prob(JB):                        0.298
Kurtosis:                       2.592   Cond. No.                         9.19
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [ ]:
X_optimal=X[:,:12]

In [ ]:
X_optimal.shape

(215, 12)

In [ ]:
model=OLS(endog=y,exog=X_optimal).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 status   R-squared:                       0.550
Model:                            OLS   Adj. R-squared:                  0.525
Method:                 Least Squares   F-statistic:                     22.54
Date:                Sun, 31 Oct 2021   Prob (F-statistic):           1.07e-29
Time:                        07:39:33   Log-Likelihood:                -53.800
No. Observations:                 215   AIC:                             131.6
Df Residuals:                     203   BIC:                             172.0
Df Model:                          11
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.6491      0.073      8.853      0.000       0.505       0.794
x1             0.2131      0.031      6.909      0.000       0.152       0.274
x2             0.0673      0.059      1.140      0.256      -0.049       0.184
x3             0.1099      0.030      3.724      0.000       0.052       0.168
x4            -0.0424      0.059     -0.724      0.470      -0.158       0.073
x5             0.0239      0.052      0.458      0.647      -0.079       0.127
x6             0.1060      0.028      3.836      0.000       0.052       0.160
x7            -0.0600      0.032     -1.902      0.059      -0.122       0.002
x8             0.1862      0.048      3.857      0.000       0.091       0.281
x9            -0.0289      0.024     -1.228      0.221      -0.075       0.018
x10           -0.0605      0.048     -1.253      0.212      -0.156       0.035
x11           -0.1359      0.025     -5.377      0.000      -0.186      -0.086
==============================================================================
Omnibus:                        2.755   Durbin-Watson:                   1.996
Prob(Omnibus):                  0.252   Jarque-Bera (JB):                2.387
Skew:                          -0.156   Prob(JB):                        0.303
Kurtosis:                       2.589   Cond. No.                         9.18
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [ ]:
X_optimal=X[:,[0,1,2,3,4,6,7,8,9,10,11]]

In [ ]:
X_optimal.shape

(215, 11)

In [ ]:
model=OLS(endog=y,exog=X_optimal).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 status   R-squared:                       0.549
Model:                            OLS   Adj. R-squared:                  0.527
Method:                 Least Squares   F-statistic:                     24.87
Date:                Sun, 31 Oct 2021   Prob (F-statistic):           2.31e-30
Time:                        07:43:19   Log-Likelihood:                -53.911
No. Observations:                 215   AIC:                             129.8
Df Residuals:                     204   BIC:                             166.9
Df Model:                          10
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.6748      0.047     14.324      0.000       0.582       0.768
x1             0.2166      0.030      7.263      0.000       0.158       0.275
x2             0.0620      0.058      1.073      0.285      -0.052       0.176
x3             0.1060      0.028      3.757      0.000       0.050       0.162
x4            -0.0364      0.057     -0.639      0.523      -0.149       0.076
x5             0.1076      0.027      3.933      0.000       0.054       0.162
x6            -0.0519      0.026     -1.991      0.048      -0.103      -0.001
x7             0.1846      0.048      3.842      0.000       0.090       0.279
x8            -0.0278      0.023     -1.189      0.236      -0.074       0.018
x9            -0.0571      0.048     -1.200      0.232      -0.151       0.037
x10           -0.1368      0.025     -5.440      0.000      -0.186      -0.087
==============================================================================
Omnibus:                        2.905   Durbin-Watson:                   1.995
Prob(Omnibus):                  0.234   Jarque-Bera (JB):                2.489
Skew:                          -0.160   Prob(JB):                        0.288
Kurtosis:                       2.581   Cond. No.                         5.55
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [ ]:
X_optimal=X[:,[0,1,2,3,6,7,8,9,10,11]]
model=OLS(endog=y,exog=X_optimal).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 status   R-squared:                       0.548
Model:                            OLS   Adj. R-squared:                  0.529
Method:                 Least Squares   F-statistic:                     27.66
Date:                Sun, 31 Oct 2021   Prob (F-statistic):           5.18e-31
Time:                        07:46:12   Log-Likelihood:                -54.127
No. Observations:                 215   AIC:                             128.3
Df Residuals:                     205   BIC:                             162.0
Df Model:                           9
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.6652      0.045     14.916      0.000       0.577       0.753
x1             0.2183      0.030      7.358      0.000       0.160       0.277
x2             0.0394      0.046      0.863      0.389      -0.051       0.129
x3             0.1045      0.028      3.722      0.000       0.049       0.160
x4             0.1067      0.027      3.912      0.000       0.053       0.161
x5            -0.0519      0.026     -1.995      0.047      -0.103      -0.001
x6             0.1819      0.048      3.805      0.000       0.088       0.276
x7            -0.0288      0.023     -1.236      0.218      -0.075       0.017
x8            -0.0599      0.047     -1.266      0.207      -0.153       0.033
x9            -0.1369      0.025     -5.453      0.000      -0.186      -0.087
==============================================================================
Omnibus:                        3.728   Durbin-Watson:                   2.007
Prob(Omnibus):                  0.155   Jarque-Bera (JB):                2.912
Skew:                          -0.159   Prob(JB):                        0.233
Kurtosis:                       2.527   Cond. No.                         4.83
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix,classification_report
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
xtrain,xtest,ytrain,ytest=train_test_split(X,y)

In [ ]:
clf=KNeighborsClassifier()

In [ ]:
clf.fit(xtrain,ytrain)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [ ]:
ypred=clf.predict(xtest)

In [ ]:
print(classification_report(ytest,ypred))

              precision    recall  f1-score   support

           0       0.81      0.65      0.72        20
           1       0.82      0.91      0.86        34

    accuracy                           0.81        54
   macro avg       0.81      0.78      0.79        54
weighted avg       0.81      0.81      0.81        54

In [ ]:
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB

In [ ]:
clf2=SVC()
clf3=GaussianNB()

In [ ]:
clf2.fit(xtrain,ytrain)
ypred=clf2.predict(xtest)
print(classification_report(ytest,ypred))

              precision    recall  f1-score   support

           0       0.88      0.70      0.78        20
           1       0.84      0.94      0.89        34

    accuracy                           0.85        54
   macro avg       0.86      0.82      0.83        54
weighted avg       0.85      0.85      0.85        54

In [ ]:
clf3.fit(xtrain,ytrain)
ypred=clf3.predict(xtest)
print(classification_report(ytest,ypred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        20
           1       1.00      1.00      1.00        34

    accuracy                           1.00        54
   macro avg       1.00      1.00      1.00        54
weighted avg       1.00      1.00      1.00        54

In [ ]:
import joblib

In [ ]:
model={
    'scaler':sc,
    'ecoder':le,
    'object':clf3,
}

In [ ]:
joblib.dump(model,'E:\resume\model.joblib')

['E:\resume\\model.joblib']